<button nz-button [nzType]="'primary'" (click)="createBasicNotification()">Open the notification box</button>
<br>
<button nz-button [nzType]="'primary'" (click)="createSuccessNotification()">Open the notification box</button>
<br>
<button nz-button [nzType]="'primary'" (click)="createWarningNotification()">Open the notification box</button>
<br>
<button nz-button [nzType]="'primary'" (click)="createInfoNotification()">Open the notification box</button>
<br>
<button nz-button [nzType]="'primary'" (click)="createErrorNotification()">Open the notification box</button>

