<p>dragon-edit-form works!</p>
<p>dragon-form works!</p>
<form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="addDragon()">

  <nz-form-item>
    <nz-form-label [nzSm]="20" [nzXs]="24" nzFor="canEdit">can edit</nz-form-label>
    <nz-switch
      formControlName="canEdit"
      [ngModel]="setCanEdit()"
      [nzCheckedChildren]="checkedTemplate"
      [nzUnCheckedChildren]="unCheckedTemplate"
    ></nz-switch>
    <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
    <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
  </nz-form-item>
  <br>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="name is required">
      <nz-input-group>
        <input formControlName="name" nz-input placeholder="name" [ngModel]="defaultData?.name"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <!--  coordinates-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">coordinates</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select [ngModel]="setCoordinates()" formControlName="coordinates" [nzPlaceHolder]="'select coordinates'">
        <nz-option *ngFor="let coordinates of existingCoordinates" [nzValue]="coordinates"
                   [nzLabel]="coordinates.x +' '+coordinates.y "></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!--  cave-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">cave</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select  formControlName="cave" [nzPlaceHolder]="'select cave'">
        <nz-option *ngFor="let cave of existingCave" [nzValue]="cave"
                   [nzLabel]="cave.id +' '+cave.numberOfTreasures "></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!--  killer-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">killer</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select [ngModel]="setKiller()" formControlName="killer" [nzPlaceHolder]="'select killer'">
        <nz-option *ngFor="let person of existingPerson" [nzValue]="person" [nzLabel]="person.name"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!--age-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="age">age</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="age is a number greater than 0">
      <nz-input-group>
        <input formControlName="age" nz-input placeholder="age" [ngModel]="defaultData?.age"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <!--wingspan-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="wingspan">wingspan</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="wingspan is a number greater than 0">
      <nz-input-group>
        <input formControlName="wingspan" nz-input placeholder="wingspan" [ngModel]="defaultData?.wingspan"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <!--color-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24"> color</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzValidateStatus="color" nzHasFeedback>
      <nz-select formControlName="color" [ngModel]="defaultData?.color" [nzPlaceHolder]="'select color'">
        <nz-option *ngFor="let color of colors" [nzValue]="color" [nzLabel]="color"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <!--  character-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24"> character</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzValidateStatus="character" nzHasFeedback>
      <nz-select [ngModel]="defaultData?.character" formControlName="character" [nzPlaceHolder]="'select character'">
        <nz-option *ngFor="let character of characters" [nzValue]="character" [nzLabel]="character"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!--  head-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Dragon Heads</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Select at least one head">
      <nz-select
        formControlName="heads" [nzPlaceHolder]="'Select heads'" nzMode="multiple">
        <nz-option *ngFor="let head of existingDragonHeads" [nzValue]="head"
                   [nzLabel]="'Eyes: ' + head.eyesCount"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">add</button>
    </nz-form-control>
  </nz-form-item>
</form>







