<br>
<div style="margin-bottom: 16px;">
  <input [(ngModel)]="this.filters['id']" placeholder="Filter by ID" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['name']" placeholder="Filter by name" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['hairColor']" placeholder="Filter by hairColor" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['eyeColor']" placeholder="Filter by eyeColor" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['locationId']" placeholder="Filter by locationId" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['height']" placeholder="Filter by height" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['passportID']" placeholder="Filter by passportID" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['nationality']" placeholder="Filter by nationality" style="margin-right: 8px;"/>

  <button nz-button nzType="primary" (click)="applyFilters()">Apply Filters</button>
  <button nz-button nzType="default" (click)="resetFilters()">Reset</button>
</div>

<div style="margin-bottom: 16px;">
  <label>Filter by "Can Edit": </label>
  <label nz-radio-group>
    <label nz-radio-button nzValue="all" (click)="setCanEditFilter('all')">All</label>
    <label nz-radio-button nzValue="true" (click)="setCanEditFilter('true')">True</label>
    <label nz-radio-button nzValue="false" (click)="setCanEditFilter('false')">False</label>
  </label>
</div>


<nz-table [nzData]="listOfData" [nzBordered]="true" nzShowPagination="false">

  <thead>
  <tr>
    <th (click)="sort('id')">
      ID
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('ID')"
         [ngClass]="{'sorted-asc': sortOrder['id'] === 'ID_ASC', 'sorted-desc': sortOrder['id'] === 'ID_DESC'}"></i>
    </th>
    <th (click)="sort('name')">
      name
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('name')"
         [ngClass]="{'sorted-asc': sortOrder['name'] === 'NAME_ASC', 'sorted-desc': sortOrder['name'] === 'NAME_DESC'}"></i>
    </th>
    <th (click)="sort('eye')">
      eye
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('eye')"
         [ngClass]="{'sorted-asc': sortOrder['eye'] === 'EYE_ASC', 'sorted-desc': sortOrder['eye'] === 'EYE_DESC'}"></i>
    </th>
    <th (click)="sort('hair')">
      hair
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('hair')"
         [ngClass]="{'sorted-asc': sortOrder['hair'] === 'HAIR_ASC', 'sorted-desc': sortOrder['hair'] === 'HAIR_DESC'}"></i>
    </th>
    <th (click)="sort('location')">
      location
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('location')"
         [ngClass]="{'sorted-asc': sortOrder['location'] === 'LOCATION_ASC', 'sorted-desc': sortOrder['location'] === 'LOCATION_DESC'}"></i>
    </th>

    <th (click)="sort('height')">
      height
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('height')"
         [ngClass]="{'sorted-asc': sortOrder['height'] === 'HEIGHT_ASC', 'sorted-desc': sortOrder['height'] === 'HEIGHT_DESC'}"></i>
    </th>
    <th (click)="sort('passport')">
      passportID
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('passport')"
         [ngClass]="{'sorted-asc': sortOrder['passport'] === 'PASSPORT_ASC', 'sorted-desc': sortOrder['passport'] === 'PASSPORT_DESC'}"></i>
    </th>

    <th (click)="sort('nationality')">
      nationality
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('nationality')"
         [ngClass]="{'sorted-asc': sortOrder['nationality'] === 'NATIONALITY_ASC', 'sorted-desc': sortOrder['nationality'] === 'NATIONALITY_DESC'}"></i>
    </th>
    <th>can edit</th>
    <th>actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of listOfData" class="hoverable-row">
    <td>{{ person.id }}</td>
    <td>{{ person.name }}</td>
    <td>{{ person.eyeColor }}</td>
    <td>{{ person.hairColor }}</td>
    <td>
      <a *ngIf="person.locationId != null; else noLocation" (click)="openLocationModal(person.locationId)">
        {{ person.locationId }}
      </a>
      <ng-template #noLocation>
        no location
        {{ person.location?.id }}
        {{ person.locationId }}
      </ng-template>
    </td>
    <td>{{ person.height || 'not specified' }}</td>
    <td>{{ person.passportID }}</td>
    <td>{{ person.nationality }}</td>
    <td>{{ person.canEdit }}</td>
    <td>
      <button nz-button nzSize="small" nzShape="round" nzType="primary" (click)="openEditModal(person)">edit person
      </button>
      <a nz-popconfirm nzPopconfirmTitle="Are you sure?" (nzOnConfirm)="deleteRow(person.id)">
        Delete
      </a>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-pagination
  [(nzPageIndex)]="currPage"
  [(nzPageSize)]="pageSize"
  [nzTotal]="totalElements"
  [nzShowSizeChanger]="true"
  (nzPageIndexChange)="onPageChange($event)"
  [nzPageSizeOptions]="[2, 3, 5, 10]"
  (nzPageSizeChange)="onPageSizeChange($event)"
  [nzShowQuickJumper]="true">
</nz-pagination>


<nz-modal [(nzVisible)]="isEditModalVisible"
          nzTitle="edit person"
          [nzContent]="personForma"
          (nzOnCancel)="this.isEditModalVisible = false;"
          [nzFooter]="personFooter">
  <ng-template #personForma>
    <app-person-form></app-person-form>
  </ng-template>
  <ng-template #personFooter>
    <button nz-button nzType="default" (click)="this.isEditModalVisible = false;">cancel</button>
    <button nz-button nzType="primary" (click)="handleOk()">save</button>
  </ng-template>
</nz-modal>


<nz-modal
  [(nzVisible)]="isLocationModalVisible"
  [nzTitle]="'Location Details'"
  [nzFooter]="null"
  [nzContent]="locationInfo"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #locationInfo>
    <ng-container *ngIf="selectedLocation!=undefined">
      <p><strong>ID:</strong> {{ selectedLocation.id }}</p>
      <p><strong>name:</strong> {{ selectedLocation.name }}</p>
      <p><strong>x:</strong> {{ selectedLocation.x }}</p>
      <p><strong>y:</strong> {{ selectedLocation.y }}</p>
      <p><strong>z:</strong> {{ selectedLocation.z }}</p>
      <p><strong>can edit:</strong> {{ selectedLocation.canEdit }}</p>
    </ng-container>
  </ng-template>
</nz-modal>


