<p>dragon-form works!</p>
<form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="addDragon()">

  <nz-form-item>
    <nz-form-label [nzSm]="20" [nzXs]="24" nzFor="canEdit">can edit</nz-form-label>
    <nz-switch
      formControlName="canEdit"
      [ngModel]="false"
      [nzCheckedChildren]="checkedTemplate"
      [nzUnCheckedChildren]="unCheckedTemplate"
    ></nz-switch>
    <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
    <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
  </nz-form-item>
  <br>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="name is required">
      <nz-input-group>
        <input formControlName="name" nz-input placeholder="name"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <!--  coordinates-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">coordinates</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select formControlName="coordinates" [nzPlaceHolder]="'select coordinates'">
        <nz-option *ngFor="let coordinates of existingCoordinates" [nzValue]="coordinates"
                   [nzLabel]="coordinates.x +' '+coordinates.y "></nz-option>
      </nz-select>
      <button nz-button nzType="default" (click)="this.isCoordinatesModalVisible=true">create new coordinates</button>
    </nz-form-control>
  </nz-form-item>

  <!--  cave-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">cave</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select formControlName="cave" [nzPlaceHolder]="'select cave'">
        <nz-option *ngFor="let cave of existingCave" [nzValue]="cave"
                   [nzLabel]="cave.id +' '+cave.numberOfTreasures "></nz-option>
      </nz-select>
      <button nz-button nzType="default" (click)="this.isCaveModalVisible=true">create new cave</button>
    </nz-form-control>
  </nz-form-item>

  <!--  killer-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">killer</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select formControlName="killer" [nzPlaceHolder]="'select killer'">
        <nz-option *ngFor="let person of existingPerson" [nzValue]="person" [nzLabel]="person.name"></nz-option>
      </nz-select>
      <button nz-button nzType="default" (click)="this.isKillerModalVisible=true">create new person</button>
    </nz-form-control>
  </nz-form-item>

  <!--age-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="age">age</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="age is a number greater than 0">
      <nz-input-group>
        <input formControlName="age" nz-input placeholder="age"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <!--wingspan-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="wingspan">wingspan</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="wingspan is a number greater than 0">
      <nz-input-group>
        <input formControlName="wingspan" nz-input placeholder="wingspan"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <!--color-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24"> color</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzValidateStatus="color" nzHasFeedback>
      <nz-select formControlName="color" [nzPlaceHolder]="'select color'">
        <nz-option *ngFor="let color of colors" [nzValue]="color" [nzLabel]="color"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <!--  character-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24"> character</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzValidateStatus="character" nzHasFeedback>
      <nz-select formControlName="character" [nzPlaceHolder]="'select character'">
        <nz-option *ngFor="let character of characters" [nzValue]="character" [nzLabel]="character"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!--  head-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Dragon Heads</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Select at least one head">
      <nz-select formControlName="heads" [nzPlaceHolder]="'Select heads'" nzMode="multiple">
        <nz-option *ngFor="let head of existingDragonHeads" [nzValue]="head"
                   [nzLabel]="'Eyes: ' + head.eyesCount"></nz-option>
      </nz-select>
      <button nz-button nzType="default" (click)="this.isHeadModalVisible = true">Add new head</button>
    </nz-form-control>
  </nz-form-item>




  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">add</button>
    </nz-form-control>
  </nz-form-item>
</form>


<nz-modal [(nzVisible)]="isKillerModalVisible"
          nzTitle="create new person"
          [nzContent]="personForma"
          (nzOnCancel)="this.isKillerModalVisible = false;"
          [nzFooter]="modalFooterPers">
  <ng-template #personForma>
    <app-person-form></app-person-form>
  </ng-template>
  <ng-template #modalFooterPers>
    <button nz-button nzType="default" (click)="this.isKillerModalVisible = false;">cancel</button>
    <button nz-button nzType="primary" (click)="handleOkPerson()">add</button>
  </ng-template>
</nz-modal>


<nz-modal [(nzVisible)]="isCoordinatesModalVisible"
          nzTitle="create new coordinates"
          [nzContent]="coordinatesForma"
          (nzOnCancel)="this.isCoordinatesModalVisible = false;"
          [nzFooter]="coordFooter">
  <ng-template #coordinatesForma>
    <app-coordinates-form></app-coordinates-form>
  </ng-template>
  <ng-template #coordFooter>
    <button nz-button nzType="default" (click)="this.isCoordinatesModalVisible = false;">cancel</button>
    <button nz-button nzType="primary" (click)="handleOkCoordinates()">add</button>
  </ng-template>
</nz-modal>


<nz-modal [(nzVisible)]="isCaveModalVisible"
          nzTitle="create new cave"
          [nzContent]="caveForma"
          (nzOnCancel)="this.isCaveModalVisible = false;"
          [nzFooter]="caveFooter">
  <ng-template #caveForma>
    <app-dragoncave-form></app-dragoncave-form>
  </ng-template>



  <ng-template #caveFooter>
    <button nz-button nzType="default" (click)="this.isCoordinatesModalVisible = false;">cancel</button>
    <button nz-button nzType="primary" (click)="handleOkCave()">add</button>
  </ng-template>
</nz-modal>


<nz-modal [(nzVisible)]="isHeadModalVisible"
          nzTitle="create new head"
          [nzContent]="headForma"
          (nzOnCancel)="this.isHeadModalVisible = false;"
          [nzFooter]="modalFooterHead">
  <ng-template #headForma>
    <app-dragonhead-form></app-dragonhead-form>
  </ng-template>
  <ng-template #modalFooterHead>
    <button nz-button nzType="default" (click)="this.isHeadModalVisible = false;">cancel</button>
    <button nz-button nzType="primary" (click)="handleOkHead()">add</button>
  </ng-template>
</nz-modal>
