
[nz-form] {
  min-width: 700px;
  max-width: 800px;
}

.register-area {
  margin-bottom: 80px;
}

.reg-form {
  display: flex;
  flex-direction: column;
}

.navig {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}
