<br>
<div style="margin-bottom: 16px;">
  <input [(ngModel)]="this.filters['id']" placeholder="Filter by ID" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['x']" placeholder="Filter by x" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['y']" placeholder="Filter by y" style="margin-right: 8px;"/>
  <button nz-button nzType="primary" (click)="applyFilters()">Apply Filters</button>
  <button nz-button nzType="default" (click)="resetFilters()">Reset</button>
</div>

<div style="margin-bottom: 16px;">
  <label>Filter by "Can Edit": </label>
  <label nz-radio-group>
    <label nz-radio-button nzValue="all" (click)="setCanEditFilter('all')">All</label>
    <label nz-radio-button nzValue="true" (click)="setCanEditFilter('true')">True</label>
    <label nz-radio-button nzValue="false" (click)="setCanEditFilter('false')">False</label>
  </label>
</div>


<nz-table [nzData]="listOfData" [nzBordered]="true" nzShowPagination="false">
  <thead>
  <tr>
    <th (click)="sort('id')">
      ID
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('ID')"
         [ngClass]="{'sorted-asc': sortOrder['id'] === 'ID_ASC', 'sorted-desc': sortOrder['id'] === 'ID_DESC'}"></i>
    </th>
    <th (click)="sort('x')">
      x
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('x')"
         [ngClass]="{'sorted-asc': sortOrder['x'] === 'X_ASC', 'sorted-desc': sortOrder['x'] === 'X_DESC'}"></i>
    </th>
    <th (click)="sort('y')">
      y
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('y')"
         [ngClass]="{'sorted-asc': sortOrder['y'] === 'Y_ASC', 'sorted-desc': sortOrder['y'] === 'Y_DESC'}"></i>
    </th>
    <th>can edit</th>
    <th style="width: 15%;">actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of listOfData" class="hoverable-row">
    <td>{{ data.id }}</td>
    <td>{{ data.x }}</td>
    <td>{{ data.y }}</td>
    <td>{{ data.canEdit }}</td>
    <td>
      <button nz-button nzSize="small" nzShape="round" nzType="primary" (click)="openEditModal(data)">edit coordinates
      </button>
      <a nz-popconfirm nzPopconfirmTitle="Are you sure?" (nzOnConfirm)="deleteRow(data.id)">
        Delete
      </a>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-pagination
  [(nzPageIndex)]="currPage"
  [(nzPageSize)]="pageSize"
  [nzTotal]="totalElements"
  [nzShowSizeChanger]="true"
  (nzPageIndexChange)="onPageChange($event)"
  [nzPageSizeOptions]="[2, 3, 5, 10]"
  (nzPageSizeChange)="onPageSizeChange($event)"
  [nzShowQuickJumper]="true">
</nz-pagination>

<nz-modal [(nzVisible)]="isEditModalVisible"
          nzTitle="edit coordinates"
          [nzContent]="coordinatesForma"
          (nzOnCancel)="this.isEditModalVisible = false;"
          [nzFooter]="coordFooter">
  <ng-template #coordinatesForma>
    <app-coordinates-form>

    </app-coordinates-form>
  </ng-template>
  <ng-template #coordFooter>
    <button nz-button nzType="default" (click)="this.isEditModalVisible = false;">cancel</button>
    <button nz-button nzType="primary" (click)="handleOk()">save</button>
  </ng-template>
</nz-modal>


