<p>dragon-table works!</p>
<input [(ngModel)]="searchValue" (ngModelChange)="onSearch()" placeholder="search" style="margin-bottom: 16px;">

<nz-table [nzData]="listOfDragons" [nzBordered]="true">
  <thead>
  <tr>
    <th nzShowSort [nzSortOrder]="sortOrderId" (click)="sort('id')">ID</th>
    <th nzShowSort [nzSortOrder]="sortOrderName" (click)="sort('name')">name</th>
    <th nzShowSort [nzSortOrder]="sortOrderCoordinates" (click)="sort('coordinates')">coordinates</th>
    <th nzShowSort [nzSortOrder]="sortOrderCreationDate" (click)="sort('creationDate')">creation date</th>
    <th nzShowSort [nzSortOrder]="sortOrderCave" (click)="sort('cave')">cave</th>
    <th nzShowSort [nzSortOrder]="sortOrderKiller" (click)="sort('killer')">killer</th>
    <th nzShowSort [nzSortOrder]="sortOrderAge" (click)="sort('age')">age</th>
    <th nzShowSort [nzSortOrder]="sortOrderWingspan" (click)="sort('wingspan')">wings</th>
    <th nzShowSort [nzSortOrder]="sortOrderColor" (click)="sort('color')">color</th>
    <th nzShowSort [nzSortOrder]="sortOrderCharacter" (click)="sort('character')">character</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dragon of listOfDragons">
    <td>{{ dragon.id }}</td>
    <td>{{ dragon.name }}</td>
    <td>{{ dragon.coordinates.x }}, {{ dragon.coordinates.y }}, {{ dragon.coordinates.id}}</td>
    <td>{{ dragon.creationDate }}</td>
    <td>{{ dragon.cave.numberOfTreasures }}</td>
    <td>{{ dragon.killer ? dragon.killer.name : 'null' }}</td>
    <td>{{ dragon.age || 'null' }}</td>
    <td>{{ dragon.wingspan || 'null' }}</td>
    <td>{{ dragon.color }}</td>
    <td>{{ dragon.character }}</td>
  </tr>
  </tbody>
</nz-table>

