<br>
<div style="margin-bottom: 16px;">
  <input [(ngModel)]="this.filters['id']" placeholder="Filter by ID" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['name']" placeholder="Filter by name" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['coordinatesId']" placeholder="Filter by coordinatesId" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['creationDate']" placeholder="Filter by creationDate" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['caveId']" placeholder="Filter by caveId" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['killerId']" placeholder="Filter by killerId" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['age']" placeholder="Filter by age" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['wingspan']" placeholder="Filter by wingspan" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['color']" placeholder="Filter by color" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['character']" placeholder="Filter by character" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['headCount']" placeholder="Filter by headCount" style="margin-right: 8px;"/>


  <button nz-button nzType="primary" (click)="applyFilters()">Apply Filters</button>
  <button nz-button nzType="default" (click)="resetFilters()">Reset</button>
</div>

<div style="margin-bottom: 16px;">
  <label>Filter by "Can Edit": </label>
  <label nz-radio-group>
    <label nz-radio-button nzValue="all" (click)="setCanEditFilter('all')">All</label>
    <label nz-radio-button nzValue="true" (click)="setCanEditFilter('true')">True</label>
    <label nz-radio-button nzValue="false" (click)="setCanEditFilter('false')">False</label>
  </label>
</div>


<nz-table [nzData]="listOfData" [nzBordered]="true" nzShowPagination="false">
  <thead>
  <tr>
    <th (click)="sort('id')">
      ID
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('ID')"
         [ngClass]="{'sorted-asc': sortOrder['id'] === 'ID_ASC', 'sorted-desc': sortOrder['id'] === 'ID_DESC'}"></i>
    </th>

    <th (click)="sort('name')">
      name
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('name')"
         [ngClass]="{'sorted-asc': sortOrder['name'] === 'NAME_ASC', 'sorted-desc': sortOrder['name'] === 'NAME_DESC'}"></i>
    </th>

    <th (click)="sort('coord')">
      coordinates
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('coord')"
         [ngClass]="{'sorted-asc': sortOrder['coord'] === 'COORD_ASC', 'sorted-desc': sortOrder['coord'] === 'COORD_DESC'}"></i>
    </th>

    <th (click)="sort('date')">
      creation date
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('date')"
         [ngClass]="{'sorted-asc': sortOrder['date'] === 'DATE_ASC', 'sorted-desc': sortOrder['date'] === 'DATE_DESC'}"></i>
    </th>

    <th (click)="sort('cave')">
      cave
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('cave')"
         [ngClass]="{'sorted-asc': sortOrder['cave'] === 'CAVE_ASC', 'sorted-desc': sortOrder['cave'] === 'CAVE_DESC'}"></i>
    </th>
    <th (click)="sort('person')">
      killer
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('person')"
         [ngClass]="{'sorted-asc': sortOrder['person'] === 'PERSON_ASC', 'sorted-desc': sortOrder['person'] === 'PERSON_DESC'}"></i>
    </th>
    <th (click)="sort('age')">
      age
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('age')"
         [ngClass]="{'sorted-asc': sortOrder['age'] === 'AGE_ASC', 'sorted-desc': sortOrder['age'] === 'AGE_DESC'}"></i>
    </th>
    <th (click)="sort('wingspan')">
      wingspan
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('wingspan')"
         [ngClass]="{'sorted-asc': sortOrder['wingspan'] === 'WINGSPAN_ASC', 'sorted-desc': sortOrder['wingspan'] === 'WINGSPAN_DESC'}"></i>
    </th>

    <th (click)="sort('color')">
      color
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('color')"
         [ngClass]="{'sorted-asc': sortOrder['color'] === 'COLOR_ASC', 'sorted-desc': sortOrder['color'] === 'COLOR_DESC'}"></i>
    </th>
    <th (click)="sort('character')">
      character
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('character')"
         [ngClass]="{'sorted-asc': sortOrder['character'] === 'CHARACTER_ASC', 'sorted-desc': sortOrder['character'] === 'CHARACTER_DESC'}"></i>
    </th>
    <th (click)="sort('heads')">
      heads
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('heads')"
         [ngClass]="{'sorted-asc': sortOrder['heads'] === 'HEADS_ASC', 'sorted-desc': sortOrder['heads'] === 'HEADS_DESC'}"></i>
    </th>
    <th>can edit</th>
    <th>actions</th>
  </thead>
  <tbody>
  <tr *ngFor="let dragon of listOfData">
    <td>{{ dragon.id }}</td>

    <td>{{ dragon.name }}</td>

    <td>
      <a *ngIf="dragon.coordinatesId != undefined; else noCoord"
         (click)="openInternalDataModal(DataType.COORD, dragon.coordinatesId)">
        {{ dragon.coordinatesId }}
      </a>
      <ng-template #noCoord>
        no coordinates
      </ng-template>
    </td>

    <td>{{ dragon.creationDate }}</td>

    <td>
      <a *ngIf="dragon.caveId != undefined; else noCave"
         (click)="openInternalDataModal(DataType.CAVE,dragon.caveId)">
        {{ dragon.caveId }}
      </a>
      <ng-template #noCave>
        no cave
      </ng-template>
    </td>

    <td>
      <a *ngIf="dragon.killerId != undefined; else noKiller"
         (click)="openInternalDataModal(DataType.KILLER,dragon.killerId)">
        {{ dragon.killerId }}
      </a>
      <ng-template #noKiller>
        no cave
      </ng-template>
    </td>


    <td>{{ dragon.age || 'null' }}</td>
    <td>{{ dragon.wingspan || 'null' }}</td>
    <td>{{ dragon.color }}</td>
    <td>{{ dragon.character }}</td>

    <td>
      <a *ngIf="dragon.headIds != undefined; else noHeads"
         (click)="openHeadsModal(DataType.HEADS,dragon.headIds)">
        number of heads: {{ dragon.headIds.length }}
      </a>
      <ng-template #noHeads>
        no heads
      </ng-template>
    </td>
    <td>{{ dragon.canEdit ? 'Yes' : 'No' }}</td>

    <td>
      <button nz-button nzSize="small" nzShape="round" nzType="primary" (click)="openEditModal(dragon)">edit head
      </button>
      <a nz-popconfirm nzPopconfirmTitle="Are you sure?" (nzOnConfirm)="deleteRow(dragon.id)">
        Delete
      </a>
    </td>

  </tr>
  </tbody>
</nz-table>

<nz-pagination
  [(nzPageIndex)]="currPage"
  [(nzPageSize)]="pageSize"
  [nzTotal]="totalElements"
  [nzShowSizeChanger]="true"
  (nzPageIndexChange)="onPageChange($event)"
  [nzPageSizeOptions]="[2, 3, 5, 10]"
  (nzPageSizeChange)="onPageSizeChange($event)"
  [nzShowQuickJumper]="true">
</nz-pagination>


<nz-modal [(nzVisible)]="isEditModalVisible"
          nzTitle="edit dragon"
          [nzContent]="dragonForma"
          (nzOnCancel)="this.isEditModalVisible = false;"
          [nzFooter]="dragonFooter">
  <ng-template #dragonForma>
    <app-dragon-edit-form></app-dragon-edit-form>
  </ng-template>
  <ng-template #dragonFooter>
    <button nz-button nzType="default" (click)="this.isEditModalVisible = false;">cancel</button>
    <button nz-button nzType="primary" (click)="handleOk()">save</button>
  </ng-template>
</nz-modal>


<nz-modal
  [(nzVisible)]="isInternalModalVisible[DataType.COORD]"
  [nzTitle]="'Coordinates Details'"
  [nzFooter]="null"
  [nzContent]="coordinatesInfo"
  (nzOnCancel)="handleInternalCancel(DataType.COORD)"
>
  <ng-template #coordinatesInfo>
    <ng-container *ngIf="selectedCoordinates!=null">
      <p><strong>ID:</strong> {{ selectedCoordinates.id }}</p>
      <p><strong>x:</strong> {{ selectedCoordinates.x }}</p>
      <p><strong>y:</strong> {{ selectedCoordinates.y }}</p>
      <p><strong>can edit:</strong> {{ selectedCoordinates.canEdit ? 'Yes' : 'No' }}</p>
    </ng-container>
  </ng-template>
</nz-modal>


<nz-modal
  [(nzVisible)]="isInternalModalVisible[DataType.CAVE]"
  [nzTitle]="'Cave Details'"
  [nzFooter]="null"
  [nzContent]="caveInfo"
  (nzOnCancel)="handleInternalCancel(DataType.CAVE)"
>
  <ng-template #caveInfo>
    <ng-container *ngIf="selectedInternalData[DataType.CAVE]!=null">
      <p><strong>ID:</strong> {{ selectedInternalData[DataType.CAVE]?.id }}</p>
      <p><strong>treasure:</strong> {{ selectedInternalData[DataType.CAVE]?.numberOfTreasures }}</p>
      <p><strong>can edit:</strong> {{ selectedInternalData[DataType.CAVE]?.canEdit ? 'Yes' : 'No' }}</p>
    </ng-container>
  </ng-template>
</nz-modal>

<nz-modal
  [(nzVisible)]="isInternalModalVisible[DataType.KILLER]"
  [nzTitle]="'killer Details'"
  [nzFooter]="null"
  [nzContent]="killerInfo"
  (nzOnCancel)="handleInternalCancel(DataType.KILLER)"
>
  <ng-template #killerInfo>
    <ng-container *ngIf="selectedInternalData[DataType.KILLER]!=null">
      <p><strong>ID:</strong> {{ selectedInternalData[DataType.KILLER]?.id }}</p>
      <p><strong>name:</strong> {{ selectedInternalData[DataType.KILLER]?.name }}</p>
      <p><strong>eye:</strong> {{ selectedInternalData[DataType.KILLER]?.eyeColor }}</p>
      <p><strong>hair:</strong> {{ selectedInternalData[DataType.KILLER]?.hairColor }}</p>

      <p><strong>location:</strong></p>
      <ul *ngIf="selectedInternalData[DataType.KILLER]?.location; else noLocation">
        <li><strong>ID:</strong> {{ selectedInternalData[DataType.KILLER]?.location?.id }}</li>
        <li><strong>Name:</strong> {{ selectedInternalData[DataType.KILLER]?.location?.name }}</li>
        <li><strong>X:</strong> {{ selectedInternalData[DataType.KILLER]?.location?.x }}</li>
        <li><strong>Y:</strong> {{ selectedInternalData[DataType.KILLER]?.location?.y }}</li>
        <li><strong>Z:</strong> {{ selectedInternalData[DataType.KILLER]?.location?.z }}</li>
        <li><strong>Can Edit:</strong> {{ selectedInternalData[DataType.KILLER]?.location?.canEdit }}</li>
      </ul>
      <ng-template #noLocation>
        no location
      </ng-template>
      <p><strong>height:</strong> {{ selectedInternalData[DataType.KILLER]?.height }}</p>
      <p><strong>passportID:</strong> {{ selectedInternalData[DataType.KILLER]?.passportID }}</p>
      <p><strong>nationality:</strong> {{ selectedInternalData[DataType.KILLER]?.nationality }}</p>
      <p><strong>can edit:</strong> {{ selectedInternalData[DataType.KILLER]?.canEdit ? 'Yes' : 'No' }}</p>
    </ng-container>
  </ng-template>
</nz-modal>


<nz-modal
  [(nzVisible)]="isInternalModalVisible[DataType.HEADS]"
  [nzTitle]="'heads Details'"
  [nzFooter]="null"
  [nzContent]="headsInfo"
  (nzOnCancel)="handleInternalCancel(DataType.HEADS)"
>
  <ng-template #headsInfo>
    <ng-container *ngIf="selectedInternalData[DataType.HEADS]!=null; else noHeads">
      <ul>
        <li *ngFor="let head of selectedInternalData[DataType.HEADS]">
          <p><strong>ID:</strong> {{ head.id }}</p>
          <p><strong>Eyes Count:</strong> {{ head.eyesCount ?? 'N/A' }}</p>
          <p><strong>can edit:</strong> {{ head.canEdit ? 'Yes' : 'No' }}</p>
          <hr/>
        </li>
      </ul>
    </ng-container>
    <ng-template #noHeads>
      <p>No heads available.</p>
    </ng-template>
  </ng-template>
</nz-modal>
