<br>
<div style="margin-bottom: 16px;">
  <input [(ngModel)]="this.filters['id']" placeholder="Filter by ID" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['eyes']" placeholder="Filter by eyes count" style="margin-right: 8px;"/>
  <button nz-button nzType="primary" (click)="applyFilters()">Apply Filters</button>
  <button nz-button nzType="default" (click)="resetFilters()">Reset</button>
</div>

<div style="margin-bottom: 16px;">
  <label>Filter by "Can Edit": </label>
  <label nz-radio-group>
    <label nz-radio-button nzValue="all" (click)="setCanEditFilter('all')">All</label>
    <label nz-radio-button nzValue="true" (click)="setCanEditFilter('true')">True</label>
    <label nz-radio-button nzValue="false" (click)="setCanEditFilter('false')">False</label>
  </label>

</div>
<nz-table [nzData]="listOfData" [nzBordered]="true"  nzShowPagination="false">
  <thead>
  <tr>
    <th (click)="sort('id')">
      ID
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('ID')"
         [ngClass]="{'sorted-asc': sortOrder['id'] === 'ID_ASC', 'sorted-desc': sortOrder['id'] === 'ID_DESC'}"></i>
    </th>

    <th (click)="sort('eyes')">
      eyes count
      <i nz-icon [nzType]="getSortIcon('eyes')"
         [ngClass]="{'sorted-asc': sortOrder['eyes'] === 'EYES_ASC', 'sorted-desc': sortOrder['eyes'] === 'EYES_DESC'}"></i>
    </th>
    <th>can edit</th>
    <th style="width: 15%;">actions</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let head of listOfData" class="hoverable-row">
    <td>{{ head.id }}</td>
    <td>{{ head.eyesCount }}</td>
    <td>{{ head.canEdit }}</td>
    <td>
      <button nz-button nzSize="small" nzShape="round" nzType="primary" (click)="openEditModal(head)">edit head
      </button>
      <a nz-popconfirm nzPopconfirmTitle="Are you sure?" (nzOnConfirm)="deleteRow(head.id)">
        Delete
      </a>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-pagination
  [(nzPageIndex)]="currPage"
  [(nzPageSize)]="pageSize"
  [nzTotal]="totalElements"
  [nzShowSizeChanger]="true"
  (nzPageIndexChange)="onPageChange($event)"
  [nzPageSizeOptions]="[2, 3, 5, 10]"
  (nzPageSizeChange)="onPageSizeChange($event)"
  [nzShowQuickJumper]="true">
</nz-pagination>

<nz-modal [(nzVisible)]="isEditModalVisible"
          nzTitle="edit head"
          [nzContent]="headForma"
          (nzOnCancel)="this.isEditModalVisible = false;"
          [nzFooter]="headFooter">
  <ng-template #headForma>
    <app-dragonhead-form></app-dragonhead-form>
  </ng-template>
  <ng-template #headFooter>
    <button nz-button nzType="default" (click)="this.isEditModalVisible = false;">cancel</button>
    <button nz-button nzType="primary" (click)="handleOk()">save</button>
  </ng-template>
</nz-modal>
