<br>
<div style="margin-bottom: 16px;">
  <input [(ngModel)]="idFilter" placeholder="Filter by ID" style="margin-right: 8px;"/>
  <input [(ngModel)]="treasuresFilter" placeholder="Filter by Treasures" style="margin-right: 8px;"/>
  <button nz-button nzType="primary" (click)="applyFilters()">Apply Filters</button>
  <button nz-button nzType="default" (click)="resetFilters()">Reset</button>
</div>

<div style="margin-bottom: 16px;">
  <label>Filter by "Can Edit": </label>
  <label nz-radio-group>
    <label nz-radio-button nzValue="all" (click)="setCanEditFilter('all')">All</label>
    <label nz-radio-button nzValue="true" (click)="setCanEditFilter('true')">True</label>
    <label nz-radio-button nzValue="false" (click)="setCanEditFilter('false')">False</label>
  </label>

</div>

<nz-table [nzData]="listOfCaves" [nzBordered]="true"
          nzShowPagination="false">
  <thead>
  <tr>
    <th (click)="sort('id')">
      ID
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('id')"
         [ngClass]="{'sorted-asc': sortOrderId === 'ID_ASC', 'sorted-desc': sortOrderId === 'ID_DESC'}"></i>
    </th>

    <th (click)="sort('numberOfTreasures')">
      numberOfTreasures
      <i nz-icon [nzType]="getSortIcon('numberOfTreasures')"
         [ngClass]="{'sorted-asc': sortOrderTreasures === 'TREASURE_ASC', 'sorted-desc': sortOrderTreasures === 'TREASURE_DESC'}"></i>
    </th>
    <th>can edit</th>
    <th>actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cave of listOfCaves">
    <td>{{ cave.id }}</td>
    <td>{{ cave.numberOfTreasures }}</td>
    <td>{{ cave.canEdit }}</td>
    <td>
      <button nz-button nzSize="small" nzShape="round" nzType="primary" (click)="openEditModal(cave)">edit cave
      </button>

      <button nz-button nzSize="small"
              nzShape="round"
              nzType="primary"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure?"
              (nzOnConfirm)="deleteRow(cave.id)">
        delete
      </button>

    </td>
  </tr>
  </tbody>
</nz-table>


<nz-pagination
  [(nzPageIndex)]="currPage"
  [(nzPageSize)]="pageSize"
  [nzTotal]="totalElements"
  [nzShowSizeChanger]="true"
  (nzPageIndexChange)="onPageChange($event)"
  [nzPageSizeOptions]="[2, 3, 5, 10]"
  (nzPageSizeChange)="onPageSizeChange($event)"
  [nzShowQuickJumper]="true">
</nz-pagination>

<nz-modal [(nzVisible)]="isEditCaveModalVisible"
          nzTitle="edit cave"
          [nzContent]="caveForma"
          (nzOnCancel)="this.isEditCaveModalVisible = false;"
          [nzFooter]="caveFooter">
  <ng-template #caveForma>
    <app-dragoncave-form></app-dragoncave-form>
  </ng-template>
  <ng-template #caveFooter>
    <button nz-button nzType="default" (click)="this.isEditCaveModalVisible = false;">cancel</button>
    <button nz-button nzType="primary" (click)="handleOkCave()">save</button>
  </ng-template>
</nz-modal>
