<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="addCoordinates()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="x">x</nz-form-label>
    <nz-form-control nzErrorTip="x is number">
      <nz-input-group>
        <input formControlName="x" nz-input placeholder="x" [ngModel]="defaultData?.x"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="y">y</nz-form-label>
    <nz-form-control nzErrorTip="y is a number, it must be at least -182">
      <nz-input-group>
        <input formControlName="y" nz-input placeholder="y" [ngModel]="defaultData?.y"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="20" [nzXs]="24" nzFor="canEdit">can edit</nz-form-label>
    <nz-switch
      [ngModel]="setCanEdit()"
      formControlName="canEdit"
      [nzCheckedChildren]="checkedTemplate"
      [nzUnCheckedChildren]="unCheckedTemplate"
    ></nz-switch>
    <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
    <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
  </nz-form-item>


  <nz-form-item *ngIf="showAddButton">
    <nz-form-control>
      <button nz-button nzType="primary" type="submit" [disabled]="!validateForm.valid">add</button>
    </nz-form-control>
  </nz-form-item>

</form>

