<p>dragoncave-form works!</p>
<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="addCave()">
  <nz-form-item>
    <nz-form-label [nzSm]="20" [nzXs]="24" nzFor="canEdit">can edit</nz-form-label>
    <nz-switch
      formControlName="canEdit"
      [ngModel]="false"
      [nzCheckedChildren]="checkedTemplate"
      [nzUnCheckedChildren]="unCheckedTemplate"
    ></nz-switch>
    <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
    <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
  </nz-form-item>
  <br>
  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="treasures">number of treasures</nz-form-label>
    <nz-form-control nzErrorTip="number of treasures is number">
      <nz-input-group>
        <input formControlName="treasures" nz-input placeholder="number of treasures"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="showAddButton">
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">add</button>
    </nz-form-control>
  </nz-form-item>
</form>

