<p>person-form works!</p>
<form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="addPerson()">
  <nz-form-item>
    <nz-form-label [nzSm]="20" [nzXs]="24" nzFor="canEdit">can edit</nz-form-label>
    <nz-switch
      formControlName="canEdit"
      [ngModel]="false"
      [nzCheckedChildren]="checkedTemplate"
      [nzUnCheckedChildren]="unCheckedTemplate"
    ></nz-switch>
    <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
    <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="name is required">
      <nz-input-group>
        <input formControlName="name" nz-input placeholder="name"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <!--eye color-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">eye color</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzValidateStatus="eyeColor" nzHasFeedback>
      <nz-select formControlName="eyeColor" [nzPlaceHolder]="'Select eye color'">
        <nz-option *ngFor="let color of colors" [nzValue]="color" [nzLabel]="color"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <!--  hair color-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">hair color</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzValidateStatus="haiColor" nzHasFeedback>
      <nz-select formControlName="hairColor" [nzPlaceHolder]="'Select hair color'">
        <nz-option *ngFor="let color of colors" [nzValue]="color" [nzLabel]="color"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
<!--  location-->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">location</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select [(ngModel)]="selectedLocation" [ngModelOptions]="{ standalone: true }"
                 [nzPlaceHolder]="'select location'">
        <nz-option *ngFor="let location of existingLocations" [nzValue]="location" [nzLabel]="location.name"></nz-option>
      </nz-select>
      <button nz-button nzType="default" (click)="openLocationModal()">create new location</button>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="height">height</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="height is a number that is greater than 0">
      <nz-input-group>
        <input formControlName="height" nz-input placeholder="height"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="passportID">passportID</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="passportID is a string">
      <nz-input-group>
        <input formControlName="passportID" nz-input placeholder="passportID"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">nationality</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzValidateStatus="nationality" nzHasFeedback>
      <nz-select formControlName="nationality" [nzPlaceHolder]="'Select nationality'">
        <nz-option *ngFor="let country of countries" [nzValue]="country" [nzLabel]="country"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="showAddButton">
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">Add</button>
    </nz-form-control>
  </nz-form-item>
</form>


<nz-modal [(nzVisible)]="isLocationModalVisible"
          nzTitle="Create New Location"
          [nzContent]="locationForma"
          (nzOnCancel)="handleCancel()"
          [nzFooter]="modalFooter">
  <ng-template #locationForma>
    <app-location-form></app-location-form>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">cancel</button>
    <button nz-button nzType="primary" (click)="handleOk()">Custom Submit</button>
  </ng-template>
</nz-modal>
