<br>
<div style="margin-bottom: 16px;">
  <input  [(ngModel)]="this.filters['id']" placeholder="Filter by ID" style="margin-right: 8px;"/>
  <input [(ngModel)]="this.filters['userId']" placeholder="Filter by user id" style="margin-right: 8px;"/>
  <button nz-button nzType="primary" (click)="applyFilters()">Apply Filters</button>
  <button nz-button nzType="default" (click)="resetFilters()">Reset</button>
</div>

<div style="margin-bottom: 16px;">
  <label>Filter by status: </label>
  <label nz-radio-group>
    <label nz-radio-button nzValue="all" (click)="setStatusFilter('ALL')">All</label>
    <label nz-radio-button nzValue="NEW" (click)="setStatusFilter('NEW')">NEW</label>
    <label nz-radio-button nzValue="CLOSE" (click)="setStatusFilter('CLOSE')">CLOSE</label>
    <label nz-radio-button nzValue="APPROVED" (click)="setStatusFilter('APPROVED')">APPROVED</label>
    <label nz-radio-button nzValue="CANCELED" (click)="setStatusFilter('CANCELED')">CANCELED</label>
  </label>

</div>

<nz-table [nzData]="listOfData" [nzBordered]="true"
          nzShowPagination="false">
  <thead>
  <tr>
    <th (click)="sort('id')">
      ID
      <i nz-icon nzTheme="outline" [nzType]="getSortIcon('id')"
         [ngClass]="{'sorted-asc': sortOrder['id'] === 'ID_ASC', 'sorted-desc': sortOrder['id'] === 'ID_DESC'}"></i>
    </th>

    <th (click)="sort('createdAt')">
      created at
      <i nz-icon [nzType]="getSortIcon('createdAt')"
         [ngClass]="{'sorted-asc': sortOrder['createdAt'] === 'DATE_ASC', 'sorted-desc': sortOrder['createdAt'] === 'DATE_DESC'}"></i>
    </th>
    <th (click)="sort('userId')">
      user id
      <i nz-icon [nzType]="getSortIcon('userId')"
         [ngClass]="{'sorted-asc': sortOrder['userId'] === 'USER_ASC', 'sorted-desc': sortOrder['userId'] === 'USER_DESC'}"></i>
    </th>
    <th>status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let app of listOfData" class="hoverable-row">
    <td>{{ app.id }}</td>
    <td>{{ app.createdAt }}</td>
    <td>{{ app.userId }}</td>
    <td>{{app.status}}</td>
    <td>
      <div nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
        <button nz-button nzSize="small" nzShape="round" nzType="primary">
          Change Status
          <i nz-icon nzType="down"></i>
        </button>
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item *ngFor="let status of statuses" (click)="changeStatus(app.id, status)">
            {{ status }}
          </li>
        </ul>
      </nz-dropdown-menu>

    </td>
  </tr>
  </tbody>
</nz-table>


<nz-pagination
  [(nzPageIndex)]="currPage"
  [(nzPageSize)]="pageSize"
  [nzTotal]="totalElements"
  [nzShowSizeChanger]="true"
  (nzPageIndexChange)="onPageChange($event)"
  [nzPageSizeOptions]="[2, 3, 5, 10]"
  (nzPageSizeChange)="onPageSizeChange($event)"
  [nzShowQuickJumper]="true">
</nz-pagination>

