<p>location-form works!</p>
<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="addLocation()">
  <nz-form-item>
    <nz-form-label [nzSm]="20" [nzXs]="24" nzFor="canEdit">can edit</nz-form-label>
    <nz-switch
      formControlName="canEdit"
      [ngModel]="false"
      [nzCheckedChildren]="checkedTemplate"
      [nzUnCheckedChildren]="unCheckedTemplate"
    ></nz-switch>
    <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
    <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24"  nzFor="xValue">x</nz-form-label>
    <nz-form-control nzErrorTip="x is a number">
      <nz-input-group>
        <input formControlName="xValue" nz-input placeholder="x"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="yValue">y</nz-form-label>
    <nz-form-control nzErrorTip="y is a number">
      <nz-input-group>
        <input formControlName="yValue" nz-input placeholder="y"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="zValue">z</nz-form-label>
    <nz-form-control nzErrorTip="z is a number">
      <nz-input-group>
        <input formControlName="zValue" nz-input placeholder="z"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="name">name</nz-form-label>
    <nz-form-control nzErrorTip="name is required">
      <nz-input-group>
        <input formControlName="name" nz-input placeholder="name"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="showAddButton">
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">add new location</button>
    </nz-form-control>
  </nz-form-item>
</form>


