<nz-layout class="home">
  <nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="pink-menu">
      <li nz-menu-item (click)="isDragonChoose()">dragons</li>
      <li nz-menu-item (click)="isCoordinatesChoose()"> coordinates</li>
      <li nz-menu-item (click)="isCaveChoose()">dragon cave</li>
      <li nz-menu-item (click)="isHeadChoose()">dragon head</li>
      <li nz-menu-item (click)="isLocationChoose()">location</li>
      <li nz-menu-item (click)="isPersonChoose()">person</li>
      <li nz-menu-item (click)="isAdminFormChoose()">admin form</li>
      <li nz-menu-item (click)="isAdminPageChoose()">admin page</li>
    </ul>
  </nz-header>
  <nz-content>

    <img class="nusha" ngSrc="assets/nusha.png" alt="nusha" aria-hidden="true" width="608" height="462"/>
    <hr class="custom-hr">
    <div *ngIf="this.currentState === 'dragon'">
      <app-dragon-form></app-dragon-form>
      <app-dragon-table></app-dragon-table>
    </div>
    <div *ngIf="this.currentState === 'coordinates'">
      <app-coordinates-form></app-coordinates-form>
      <app-coordinates-table></app-coordinates-table>
    </div>

    <div *ngIf="this.currentState === 'location'">
      <app-location-form></app-location-form>
      <app-location-table></app-location-table>
    </div>
    <div *ngIf="this.currentState === 'person'">
      <app-person-form></app-person-form>
      <app-person-table></app-person-table>
    </div>
    <div *ngIf="this.currentState === 'cave'">
      <app-dragoncave-form></app-dragoncave-form>
      <app-dragoncave-table></app-dragoncave-table>
    </div>
    <div *ngIf="this.currentState === 'head'">
      <app-dragonhead-form></app-dragonhead-form>
      <app-dragonhead-table></app-dragonhead-table>
    </div>

    <div *ngIf="this.currentState === 'adminForm'">
      <app-admin-form></app-admin-form>
    </div>
    <div *ngIf="this.currentState === 'adminPage'">
      <app-admin-app-table></app-admin-app-table>
    </div>

  </nz-content>
  <nz-footer>Столько раз заканчивался какой-то отрезок жизни и казалось, что другой уже не наступит.
    Потом другой отрезок наступал, приходило время и ему закончиться,
    и казалось, что уж он-то точно последний и ничего уж нет и быть не может...
    Но! Опять что-то начиналось. Нам хочется считать, что
    наша жизнь большой-большой роман,
    но на самом деле она сборник рассказов.
  </nz-footer>
</nz-layout>

