[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 10px;
  background: white;
}

nz-footer {
  text-align: center;
  color: #acabab;
  background: rgb(248, 248, 248);
}


.pink-menu {
  background-color: #ff69b4;
  border: 1px solid #ff69b4;


}

.pink-menu .ant-menu-item {
  color: #ffffff;
}

.pink-menu .ant-menu-item:hover {
  color: #ffb9db; /* Цвет текста при наведении */
}

nz-header {
  padding: 0
}



.custom-hr {
  border: none;
  border-top: 2px solid #ff69b4;
  width: 50%;
  margin: 20px auto
}

.nusha{
  width: 30%;
  height: auto;
}
